html,body{
    background-color: #333;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.example-2 {
    display: flex;
    align-items: flex-start;
}
nav {
    margin-left:  360px;
    margin-top: 25px;
    font-weight: bold;
}
.example-ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    margin-right: 10px;
}
a{
    color: rgba(255, 255, 255, 0.479);
    margin-right: 10px;
    text-decoration: none;
    font-family: cursive;
}
.example-3{
    color: white;
    border-bottom: solid 5px white;
}
.example-ul a:hover{
    color: white;
    border-bottom: solid 5px rgba(255, 255, 255, .5);
}
main{
    text-align: center;
    color: white;
}
main p{
    text-align: center;
    width: 450px;
    font-weight:300px;
}