html,body{
    background-color: #333;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.example-2 {
    color: white;
    display: flex;
    align-items: flex-start;
   margin-left: 345px;
}
nav {
    margin-left:  350px;
    margin-top: 20px;
    font-weight: bold;
}
.example-ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
    color: white;
   
}
a{
    color: rgba(255, 255, 255, 0.479);
    margin-right: 10px;
    text-decoration: none;
    font-family: cursive;
}
.example-3{
    color: white;
    border-bottom: solid 5px white;
}
.example-ul a:hover{
    color: white;
    border-bottom: solid 5px rgba(255, 255, 255, .5);
}
main{
    text-align: center;
    color: white;
}
main p{
    text-align: center;
    width: 450px;
    font-weight:300px;
}
main button{
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.example-4{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    line-height: 1.5;
}
.example-5_button{
    color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38%;
}
footer .example-6{
    color: white;
}
footer .example-6:hover{
    text-decoration: underline;
}
@media (max-width:672px){
    .example-2{
      flex-wrap: wrap;
  }
 } 