html,body{
    background-color: #333;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.example-2 {
    display: flex;
    align-items: flex-start;
}
nav {
    margin-left:  360px;
    margin-top: 25px;
    font-weight: bold;
}
.example-ul {
    display: flex;
}